<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Listener Example">
    <listeners>
        <listener class-name="extentReport.TestListener" />
        <listener class-name="extentReport.Retry"/>
    </listeners>

    <test name="TestNG Sample Test" preserve-order="false">
        <classes>
            <class name="tests.LoginTest">
            </class>
        </classes>
    </test>
</suite>