<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="web_automated_test">
    <listeners>
        <listener class-name="extentReport.TestListener" />
    </listeners>

    <test name="Regression" enabled="true">
        <classes>
            <class name="tests.Login.LoginTest">
            </class>
        </classes>
    </test>
</suite>